.container-tiktaktoe {
    height: 100vh;
    background-color: blanchedalmond;
}

.status-tiktaktoe {
    text-align: center;
}

.container-board {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-tiktaktoe {
    margin-bottom: 20px;
    display: flex;
    width: 150px;
    height: 150px;
    flex-wrap: wrap;
}

.square {
    width: 50px;
    height: 50px;
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: solid black 1px;
}

.btn-reset {
    display: flex;
    justify-content: center;
}
